appdirs==1.4.2
click==6.7
Flask==0.12
fuzzywuzzy==0.15.0
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
nltk==3.2.2
numpy==1.12.0
oauthlib==2.0.1
packaging==16.8
pandas==0.19.2
pyparsing==2.1.10
python-dateutil==2.6.0
python-Levenshtein==0.12.0
pytz==2016.10
requests==2.13.0
requests-oauthlib==0.8.0
six==1.10.0
tweepy==3.5.0
Werkzeug==0.11.15
